
[bootstrap]
{{ ocp_cluster_name }}-bootstrap.{{ ocp_cluster_basedomain }} ansible_connection=local ansible_user=core

[masters]
{% for m in range(ocp_master_count) %}
{{ ocp_cluster_name }}-master{{ m }}.{{ ocp_cluster_basedomain }} ansible_connection=local ansible_user=core
{% endfor %}

[workers]
{% for w in range(ocp_worker_count) %}
{{ ocp_cluster_name }}-worker{{ w }}.{{ ocp_cluster_basedomain }} ansible_connection=local ansible_user=core
{% endfor %}

