# Ignore personal file
*.claude
*.claude.*
*.empty
.*
*.crt
*.repo
*.retry
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
.terraformrc
terraform.rc
ansible.*
inventory/group_vars/all.yml
vars/global.yml
