### Vm Data structure  ###
ovirt_url = "{{ hostvars[instance]['ovirt_url'] }}"
ovirt_username = "{{ hostvars[instance]['ovirt_username'] }}"
ovirt_password = "{{ hostvars[instance]['ovirt_password'] }}"
storage_domain_id = "{{ hostvars[instance]['storage_domain_id'] }}"
cluster_id = "{{ hostvars[instance]['cluster_id'] }}"
vm_name = "{{ hostvars[instance]['vm_name'] }}"
vm_list_name = "{{ hostvars[instance]['vm_name'] }}_vms"
