variable "ovirt_url" { default =  "" }
variable "ovirt_username" { default =  "" }
variable "ovirt_password" { default =  "" }
variable "storage_domain_id" { default =  "" }
variable "cluster_id" { default =  "" }
variable "vm_name" { default =  "" }
variable "vm_list_name" { 
  type	      = any
} 
